* {
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(155, 149, 149);
}
.top-div{
    height: 160px;
    width: 100%;
}
.top-divs{
    padding: 15px 10px;
    margin: 10px 15px;
    display: inline-block;
    background-color: grey;
    height: 100px;
    width: 10%;
}
.main-div{
    width: 100%;
}
.dont-miss{
    position: absolute; 
    margin: 0 35%;  
}
.dont-miss-top{
    background-color: rgb(117, 115, 117);
    margin-top: 20px;
    width: 400px;
    height: 50px;
}
.dont-miss-bottom{
    background-color: rgb(117, 115, 117);
    margin: 0 25%;
    width: 200px;
    height: 50px;
}
.main-top-div{
    overflow: hidden;
}
.main-top-divs{
    height: 500px;
    float: left;
    width: 50%;
}
.main-bottom-div{
    clear: left;
    overflow: hidden;
}
.main-bottom-divs{
    float: left;
    height: 500px;
    width: 50%;
}
.main-top-left{
    background-color: rgb(184, 179, 174);
    height: 600px;
}
.main-top-right{
    background-color: rgb(133, 130, 128);
    height: 600px;
}
.main-bottom-left{
    background-color: rgb(136, 130, 124);
    height: 600px;
}
.main-bottom-right{
    background-color: rgb(110, 105, 99);
    height: 600px;
}

.half-light{
height: 40px;
width: 50px;
float: right;
margin-left: 25px;
margin-top: 20px;
background-color: rgb(90, 90, 90);
}
.serious-red{
height: 40px;
width: 150px;
float: right;
margin-left: 10px;
margin-right: 25px;
margin-top: 20px;
background-color: rgb(90, 90, 90);
}


.pic-rachel{
height: 50px;
width: 50px;
margin-top: 150px;
margin-left: 50px;
float: left;
background-color: rgb(90, 90, 90);
}
.name-rachel{
    height: 20px;
    width: 100px;
    float: left;
    margin-left: 10px;
background-color: rgb(90, 90, 90);
margin-top: 150px;
}

.design-aar{
width: 450px;
height: 50px;
margin-top: 50px;
margin-left: 50px;
float: left;
clear: right;
clear: left;
background-color: rgb(90, 90, 90);
}
.design-aar2{
    margin-top: 10px;
}
.unit-fcss{
width: 200px;
height: 50px;
margin-top: 10px;
margin-left: 50px;
float: left;
clear: right;
background-color: rgb(90, 90, 90);
}
.leave-com{
width: 100px;
height: 20px;
margin-left: 10px;
float: left;
margin-top: 10px;
background-color: rgb(90, 90, 90);
}
.css{
    width: 75px;
    height: 10px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    background-color: rgb(90, 90, 90);
    clear: left;
}
.css-2{
    width: 120px;
}
.browsers{
    width: 100px;
    height: 10px;
    margin-top: 50px;
    margin-left: 10px;
    float: left;
    background-color: rgb(90, 90, 90);
}
.browsers-2{
    width: 120px;
}



.pic-suzanne{
height: 50px;
width: 50px;
margin-top: 150px;
margin-left: 50px;
float: left;
background-color: rgb(90, 90, 90);
}
.name-suzanne{
    height: 20px;
    width: 100px;
    float: left;
    margin-left: 10px;
background-color: rgb(90, 90, 90);
margin-top: 150px;
}

.can-ymm{
width: 450px;
height: 50px;
margin-top: 50px;
margin-left: 50px;
float: left;
clear: right;
clear: left;
background-color: rgb(90, 90, 90);
}
.money-wama{
width: 450px;
height: 50px;
margin-top: 10px;
margin-left: 50px;
float: left;
clear: right;
background-color: rgb(90, 90, 90);
}
.or-apwa{
    width: 200px;
height: 50px;
margin-top: 10px;
margin-left: 50px;
float: left;
clear: left;
background-color: rgb(90, 90, 90);
}
.com{
width: 100px;
height: 20px;
margin-left: 10px;
float: left;
margin-top: 10px;
background-color: rgb(90, 90, 90);
}
.pwa{
    width: 75px;
    height: 10px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    background-color: rgb(90, 90, 90);
    clear: left;
}
.pwa-2{
    width: 100px;
 }
.business{
    width: 100px;
    height: 10px;
    margin-top: 50px;
    margin-left: 10px;
    float: left;
    background-color: rgb(90, 90, 90);
}
.business-2{

}
.clients{
    width: 100px;
    height: 10px;
    margin-top: 50px;
    margin-left: 10px;
    float: left;
    background-color: rgb(90, 90, 90);
}
#des-pat{
     width: 100px;
    height: 10px;
    margin-top: 20px;
    margin-left: 50px;
    float: left;
    background-color: rgb(90, 90, 90);
    clear: left;
}
#user-exp{
    width: 100px;
    height: 10px;
    margin-top: 20px;
    margin-left: 50px;
    float: left;
    background-color: rgb(90, 90, 90);
    clear: left;
}
.sides{
    clear: both;
    height: 400px;
    width: 100%;
}
.side1{
    background-color: rgb(168, 164, 164);
    width: 33.3%;
    height: 400px;
    float: left;
}
.side2{
    background-color: rgb(148, 143, 143);
    width: 33.3%;
    height: 400px;
    float: left;
}
.side3{
    background-color: rgb(124, 115, 115);
    width: 33.3%;
    height: 400px;
    float: left;
}
.side-top{
    margin: 20px 10%;
    background-color: rgb(90, 88, 88);
    width: 80%;
    height: 40px;
}
.side-bottom{
    margin: 20px 10%;
    background-color: rgb(75, 72, 72);
    width: 80%;
    height: 200px;

}
.last-one{
    clear: both;
    height: 400px;
    width: 100%;
}
.last-left{
    background-color: rgb(92, 83, 83);
    width: 33.3%;
    height: 400px;
    float: left;
}
.last-left-top{
    margin: 20px 10%;
    background-color: rgb(133, 127, 127);
    width: 80%;
    height: 40px;
}
.last-left-bottom{
    margin: 20px 10%;
    background-color: rgb(131, 119, 119);
    width: 80%;
    height: 200px;
}
.last-right{
    background-color: rgb(126, 109, 109);
    width: 66.7%;
    height: 400px;
    float: left;
}
.last-right-pic{
    margin: 20px auto;
    background-color: rgb(158, 152, 143);
    width: 100px;
    height: 80px;
}
.last-right-top{
    margin: 10px auto;
    background-color: rgb(138, 127, 111);
    width: 500px;
    height: 50px;
}
.last-right-text{
    margin: 10px auto;
    background-color: rgb(102, 100, 98);
    width: 500px;
    height: 150px;
}
.last-right-bottom{
    margin: 5px auto;
    background-color: rgb(143, 140, 136);
    width: 200px;
    height: 50px;
}